<section class="contact">
    <div class="content">
        <h2>Contact Us</h2>
        <p>hhgfhgiuiosjgljs gghfjsdk vhgijk hgfhsjkjkjk nbvhhufoiajflk nbjhfijk
            bvjhdjfklfjlk bjhvifhkgknvbj fhuyfiufijsklmksm
            fdjhfjshifjs
        </p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>4567 sggfuhfi roadhhjd,<br>vcdsjhjjjfdjh, <br 56768594></p>
                        </div>
                    
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p> 56768594></p>
                        </div>
                    
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>abgghghdh@gmail.com</p>
                        </div>
                    
                </div>
            </div>
            <div class="contactForm">
                <form>
                    <h2>send message</h2>
                    <div class="inputBox">
                        <input type="text" required="required" name="">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" required="required" name="">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" required="required" name="">
                        <span>Type yuor message</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="send" name="">
                        
                    </div>
                </form>
            </div>
        </div>


</section>